body{
    overflow-x: hidden;
}
.sectionone{
    height: 89vh;
    width: 100%;
    background-color: black;
    padding: 2px 10px;
    text-decoration: none;
    background-image: url("./assets/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: start !important;


    
}
.sectiontwo{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}

.skillheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.skillcards{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-decoration: none !important;
}

.skillcard h4{
    color: #4532ad;
}

.projectheader div{
    font-family: system-ui;
}
.skillcard{
    background-color: white;
    box-shadow: 5px 6px 8px 1px #c3c0c0;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 310px;
    transition: 0.5s all ease-in;
    transform: translateX(-100px);
    opacity: 0;

}

.showskillcard{
    transform: translateX(0px);
    transition: 0.5s all ease-in;
    opacity:1;
}

.cardimage{
    width: 164px;
    height: auto;
}

.lastcardimage{
    width: 256px;
    height: auto;
}

.cardtext{
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.sectionthree{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    
}
.projectimage{
    position: relative;
    align-self: center;
    margin: 19px;
    max-width: 533px;
    justify-content: center;
}
.project{
    margin: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    padding: 10px;
    box-shadow: 1px 1px 8px 1px #c3c0c0;
    border-radius: 10px;
}

.projectheader{
    color: black;
    padding: 10px;
}

.projectheader h3{
    color: #4532ad;
}


.carousel{
    
}
a{
    text-decoration: none !important;
}
.sectionfour{
    width: 100%;
    display: flex;
    justify-content: center;
}
.coloredcontainer{
    background: rgb(138,130,255);
    background: linear-gradient(208deg, rgba(138,130,255,1) 30%, rgba(192,130,255,1) 64%);
    border-radius: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    padding: 30px;
    margin: 26px;
    color: black;
    opacity: 0;
    transform: scale(0.9) translateY(10px);
    transition: all 0.5s ease-in;
}

.about{
    transform: scale(1) translateY(0);
    opacity: 1;

}
.abouttext{
    color: black;
}
.nav{
    color: white;
    font-size: large;
    font-weight: 300;
    position: fixed;
    top: 0px;
    width: 100%;
    transform: translateY(4px);
    padding: 5px 5px;
    transition: 0.4s ease-in all;
    z-index: 3;


}

.sr-only{
    color: black;
}

.sectionfive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.contactinfos{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: space-around;
    align-items: center;
}

.contactinfo{
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
    
}

.contactinfo div{
    color: #8c968c;
}

.contacttype{
    color: black;
}
.bi{
    font-size: 40px;
    color: #4532ad;

}

.message{
    width: 500px;
    padding: 10px;
    color: black;
}

.inputfield{
    background-color: #4532ad38 !important;
    padding: 10px !important;
    margin: 10px 5px;
}

.form-control:last-child{
    max-height: 203px;
}

.contactcontent{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    max-width: 900px;
    background: #8a82ff2b;
    border-radius: 10px;
    padding: 10px 0px;
}
#graph{
    height: auto;
    width: 395px;
    position: absolute;
    right: -53px;
    z-index: 0;
    bottom: 0px;
}
.section{
    padding: 24px 0px;
}
.navtext{
    padding: 5px 2vw;
    margin: 1px 1vw;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-color: transparent;

}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
 /* .active{
    background-color: #8a82ff;
    color: black;
    transition: all 0.5s ease;
    transform: scale(1.1);
 } */

.navtext:hover{
    color:white
}

.nav a:hover{
    background-color: #8a82ff;
    color: black;
}


.mainbody{
    flex-direction: column;
    overflow-x: hidden;
}

.changeNav{
    background-color: #24262b;
    transform: translateY(0px);
    transition: 0.4s ease-in all;
}

.introText{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 290px;
    position: relative;
    z-index: 2;
    top: 29px;
    
    margin-left: 20px;

}

.picture{
    width: 238px;
    height: auto;
    animation: animatein 1.6s;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -36px;
   
}

.hirebutton{
    background-color: #8a82ff;
    outline: none;
    padding: 4px;
    border-radius: 4px;
    width: 100px;
    margin: 10px;
    border: none;
}

.logo{
    padding: 0px 23px;
    font-size: 22px;
    font-weight: 500;
    color: #8a82ff;
    transition: all 0.5s ease-in;

    
}

.hideLogo{
    transition: all 0.5s ease-in;
    opacity: 0;
    
}


@keyframes animatein {
    from{
        transform: translateX(150px);
        
    }
    to{
        transform: translateX(0px);
        visibility: visible;

    }
}
@media screen and (max-width:380px) {
    .introText{
        margin-bottom: 117px;
        margin-left: 20px;
    }

}
@media screen and (min-width:600px) {
    .sectionone{
        height: 100vh;
        width: 100%;
        background-color: black;
        padding: 2px 10px;
        background-image: url("./assets/background.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        justify-content: space-around;

        
    }

        
    #graph{
        height: auto;
        width: 663px;
        position: absolute;
        right: -53px;
        z-index: 0;
        bottom: 0px;
    }
    .picture{
        width: 365px;
        height: auto;
        animation: animatein 1.6s;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 53px;
    }
    .nav{
    }

    .introText{
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 330px;
        position: relative;
        z-index: 2;
        margin-left: 118px;
    
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: fit-content;
    }

    .sectiontwo{
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        min-height: 400px;
    }
    .skillcards{
        width: fit-content;
    }
    
}

@media screen and (min-width:600px) {
    .picture{
        width: 410px;
        right: -27px;
    }

    .introText{
        margin-left: 76px;
    }
}